.footer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: font-size(m);

  @include breakpoint(sm) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
