.subline {
  display: block;
  letter-spacing: -0.125px;
  color: var(--color-subline);
  margin-block-start: 0 !important;
  text-wrap: balance;
  font-weight: font-weight(bold);
  line-height: 1.1;
}
