---
layout: base.njk
title: Über mich - Kristina Kliwer, Web Developer mit Schwerpunkt Frontend/UI
description: Hi, ich bin Kristina! Web Developer mit Schwerpunkt Frontend/UI und einer Affinität für A11y und Progressive Enhancement. Das ist meine persönliche Website.
eleventyNavigation:
  key: About
---

<h1>Über mich</h1>

<div class="avatar">
    <picture>
        <source type="image/webp" srcset="/img/photo1-1440.webp, /img/photo1-2880.webp 2x" media="(min-width: 1024px)">
        <source srcset="/img/photo1-1440.jpg, /img/photo1-2880.jpg 2x" media="(min-width: 1024px)">

        <source type="image/webp" srcset="/img/photo1-720.webp, /img/photo1-1440.webp 2x" media="(max-width: 1023px)">
        <source srcset="/img/photo1-720.jpg, /img/photo1-1440.jpg 2x" media="(max-width: 1023px)">

        <img src="/img/photo1-2880.jpg" alt="Kristina Kliwer mit Hündin Ylva">
    </picture>
</div>

<p>Ich schreibe seit ich etwa 12 Jahre alt bin HTML, CSS und JavaScript. Mein Herz schlägt dabei besonders
für die Inklusivität des Webs in Form von A11y und Progressive Enhancement.</p>

<p>Ich liebe Wandern, die niederländische Nordseeküste, Bücher & Fotografie.
Und das ist meine Hündin Ylva. 🖤 </p>

<div class="avatar">
    <picture>
        <source type="image/webp" srcset="/img/photo2-1440.webp, /img/photo2-2880.webp 2x" media="(min-width: 1024px)">
        <source srcset="/img/photo2-1440.jpg, /img/photo2-2880.jpg 2x" media="(min-width: 1024px)">

        <source type="image/webp" srcset="/img/photo2-720.webp, /img/photo2-1440.webp 2x" media="(max-width: 1023px)">
        <source srcset="/img/photo2-720.jpg, /img/photo2-1440.jpg 2x" media="(max-width: 1023px)">

        <img src="/img/photo2-2880.jpg" loading="lazy" alt="Kristina Kliwer mit Hündin Ylva">
    </picture>
</div>