---
layout: base.njk
title: Hi, ich bin Kristina! Web Developer mit Schwerpunkt Frontend/UI
description: Hi, ich bin Kristina! Web Developer mit Schwerpunkt Frontend/UI und einer Affinität für A11y und Progressive Enhancement. Das ist meine persönliche Website.
eleventyNavigation:
  key: Start
---
<h1>Hi, ich bin Kristina!</h1>
<span class="subline">Web Developer mit Schwerpunkt <i>Frontend/UI</i>
und einem Herz für <i>A11y</i> und <i>Progressive Enhancement</i></span>

<p><a href="mailto:hallo@kristinakliwer.de">Schreib mir</a> :)<p>
